Repository CodeSystem2022/Alibaba-Cuarto-Semestre, pull requests merged in 2023-09, with the labels that each got.

#30 Python Semana 3
  Python/Semana 3/Sistemas_Numeracion.py
Labels: Python

#43 Se agregaron los archivos de la semana pasada y se creo el archivo tipo_nan.py
  Python/Semana 4/Sistemas_Numeracion.py
  Python/Semana 4/Valores_infinitos.py
  Python/Semana 4/tipo_float.py
  Python/Semana 4/tipo_nan.py
Labels: Python

#44 Se sube el body, footer y configuración de cantidades de productos y …
  Java/Semana 4/estudiantes/.gitignore
  Java/Semana 4/estudiantes/.mvn/wrapper/maven-wrapper.jar
  Java/Semana 4/estudiantes/.mvn/wrapper/maven-wrapper.properties
  Java/Semana 4/estudiantes/mvnw
  Java/Semana 4/estudiantes/mvnw.cmd
  Java/Semana 4/estudiantes/pom.xml
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/modelo/Estudiante.java
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/repositorio/EstudianteRepositorio.java
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/servicio/EstudianteServicio.java
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/servicio/IEstudianteServicio.java
  Java/Semana 4/estudiantes/src/main/resources/application.properties
  Java/Semana 4/estudiantes/src/main/resources/logback-spring.xml
  Java/Semana 4/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
  JavaScript/Semana 4/E-commerce/Client/js/cart.js
  JavaScript/Semana 4/E-commerce/Client/js/index.js
  JavaScript/Semana 4/E-commerce/Client/js/products.js
  JavaScript/Semana 4/E-commerce/Client/media/banana.png
  JavaScript/Semana 4/E-commerce/Client/media/carro.png
  JavaScript/Semana 4/E-commerce/Client/media/enlatados.png
  JavaScript/Semana 4/E-commerce/Client/media/index.html
  JavaScript/Semana 4/E-commerce/Client/media/leche.png
  JavaScript/Semana 4/E-commerce/Client/media/mayonesa.png
  JavaScript/Semana 4/E-commerce/Client/media/pollo.png
  JavaScript/Semana 4/E-commerce/Client/media/styles.css
  JavaScript/Semana 4/E-commerce/Client/media/varios.png
  Python/Semana 4/tipo_str.py
Labels: CSS, HTML, JavaScript

#45 creamos el archivo bool.py
  Python/Semana 4/Tipo_bool.py
Labels: Python

#46 Js 2 cart.js
  JavaScript/Semana 4/E-commerce/Client/js/cart.js
Labels: CSS, HTML, JavaScript

#47 eliminado de productos
  JavaScript/Semana 4/E-commerce/Client/js/cart.js
Labels: CSS, HTML, JavaScript

#48 Update(Java 4) fix error, add run and logger methods and others configs
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/servicio/EstudianteServicio.java
  Java/Semana 4/estudiantes/src/main/java/utn/estudiantes/servicio/IEstudianteServicio.java
  Java/Semana 4/estudiantes/src/main/resources/application.properties
  Java/Semana 4/estudiantes/src/main/resources/logback-spring.xml
Labels: Java

#81 Update JS
  JavaScript/semana 6/PERN-stack/src/app.js
  JavaScript/semana 6/PERN-stack/src/index.js
Labels: JavaScript
